@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

*{
    box-sizing: border-box;
}
body{
    background-image: rgb(96, 205, 238);
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    text-align: center;
}
.container-progreess{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 30px;
    width:350px;
    position: relative;
}
.container-progreess::before{
    content: '';
    background-color: #c2c7ca;
    position: absolute;
    height: 4px;
    width:100%;
    top:50%;
    left: 0;
    z-index:-1;
    transform: translateY(-50%);
}

.progress{
    background-color: #3498db;
    position: absolute;
    height: 4px;
    width:50%;
    top:50%;
    left: 0;
    z-index:-1;
    transform: translateY(-50%);
    transform: .4s ease;
}